@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  display: inline-block !important;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 0;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
